<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/anietchka" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/anitchka92/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/nioucha" target="_blank"><i class="fab fa-facebook"></i></a>
    <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
    <a href="https://www.linkedin.com/in/anna-bozio/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Ania
  </div>
</div>
