<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.rustica.fr/images/xarrosage-shutterstock-1496455001-opti-l760-h550.jpg.pagespeed.ic.vot0uJE0Mm.webp);">
  <div class="container">
    <h1>Le jardinage devient facile meme pour les débutants</h1>
    <p>Plus aucune raison pour que vos plantes meurent</p>
    <%= link_to(plants_path) do%>
      <div class="btn btn-ghost">Mes plantes</div>
    <% end %>
  </div>
</div>
