<h1>Mes Plantes</h1>
<% @plants.each do |plant| %>
  <%= link_to(plant_path(plant)) do %>
    <div class="card-plant">
    <%= cl_image_tag(plant.photo.key) %>
    <h3><%= plant.name %></h3>
    </div>
  <% end %>
<% end %>

<p><%= link_to "Ajouter une plante", new_plant_path %></p>
