<h2><%= @plant.name %></h2>
<%= cl_image_tag(@plant.photo.key) %>
<% if @plant.alive == true %>
  <p>Bravo, votre plante est toujours vivante!</p>
  <% else %>
  <p>Dommage, votre plante est morte</p>
<% end %>
