.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: #15371B;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #15371B;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.content-wrapper {
  min-height: calc(100vh - 60px - 50px);
}
