
.nav-title{
  margin: 0 10px ;
  a{
    color: rgb(146, 146, 146);
  }
  &.active{
    a{
      color: rgb(255, 254, 254);
    }
  }
}
.nav-link{
  color: none;
}

a {
  text-decoration: none;
}

.navbar {
  height: 60px !important;
  padding: 0 0;
  display: flex;
  justify-content: space-between;
  background:#15371B;
  text-decoration: none;
}

.navbar-logo{
  img {
    height: 45px;
    margin-left: 5px;
  }
  p{
    margin: auto;
    font-weight: bold;
  }
}

.navbar-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
